{{>partials/header}}

<div class="container">
    <br>
    <h1>Perguntas</h1>
    <a href="/perguntar" class="btn btn-success">Perguntar</a>
    <hr>
        
    {{#perguntas}}
        <br>
        <div class="card">
            <div class="card-body">
                <h3>{{ titulo }}</h3>
            </div>
            <div class="card-footer">
                <a href="/pergunta/{{id}}"><button class="btn btn-primary">Responder</button></a>
            </div>
        </div>
    {{/perguntas}}
</div>

{{>partials/footer}}